.post {
    width: 19%;
    height: 400px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    background: linear-gradient(#e66465, #9198e5);
    color: snow;
    border-radius: 10px;

}



.buttonPost {
    background: linear-gradient(#849385, #87668d);
    text-decoration: none;
    display: inline-block;
    margin: 3px 20px;
    padding: 10px 25px;
    position: relative;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    transition: .4s;
    border-radius: 45%;
    cursor: pointer;

}
.buttonPost:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: .4s;

}
.buttonPost:hover:after {
    border-color: #ffffff;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    border-radius: 45%;

}